<h2>
  <span id="vote_score">
    Score: <%= @story.votes.size %>
</span>
<%= @story.name %>
</h2>
<ul id="vote_history">
  <% if @story.votes.empty? %>
    <em>No votes yet!</em>
  <% else %>
    <%= render partial: 'votes/vote',
      collection: @story.votes.latest %>
  <% end %>
</ul>
<p>
  <%= @story.description %>
</p>
<p class="submitted_by">
  Submitted by:
  <span><%= link_to @story.user.name, @story.user %></span>
</p>
<p>
  <%= link_to @story.link, @story.link %>
</p>
<% unless @story.tag_list.empty? %>
  <p class="tags">
    <strong>Tags:</strong>
    <%= render partial: "tags/tag", collection: @story.tags %>
  </p>
<% end %>
<% if logged_in? %>
  <div id="vote_form">
    <%=form_for [@story, Vote.new], remote: true do %>
      <%= submit_tag 'vote' %>
    <% end %>
  </div>
<% else %>
  <p>
    <em>
      You would be able to vote for this story if you were
      <%= link_to 'logged in', new_session_path %>!
    </em>
  </p>
<% end %>
</div>
