<% if @story.errors.any? %>
  <div class="form_errors">
    <h3>Errors</h3>
    <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %><%= form_for @story do |f| %>
  <div>
    <p><%= f.label :name  %></p>
    <%= f.text_field :name %>
  </div>
  <div>
    <p><%= f.label :link  %></p>
    <%= f.text_field :link %>
    </p>
  </div>
  <%= submit_tag %>
<% end %>
